* {
  box-sizing: border-box;
  font-family: Quicksand; }

html, body, #app {
  height: 100%; }

h1, h2 {
  margin: 0;
  padding: 8px 0; }

.rebecca-wrap {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .rebecca-wrap h1 {
    color: #FFA4A4;
    font-weight: 300;
    font-size: 5em; }
  .rebecca-wrap h2 {
    color: #847B7B;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 50px; }
  .rebecca-wrap button {
    margin: 15px 0;
    background: #F9B1D6;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1.3em;
    padding: 10px 49px;
    border-radius: 50px;
    transition: 400ms all ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
    .rebecca-wrap button:focus {
      outline: none; }
    .rebecca-wrap button:active {
      transform: translateY(-10%);
      box-shadow: 0 -20px -15px rgba(0, 0, 0, 0.4); }
  .rebecca-wrap select {
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
    .rebecca-wrap select:focus {
      outline: none; }

@keyframes rb-twistAndShow {
  0% {
    opacity: 0;
    transform: rotateY(20deg) rotateX(30deg); }
  100% {
    opacity: 1;
    transform: rotateY(0) rotateX(0); } }

@keyframes rb-flipAndShowDown {
  0% {
    transform: scale(0.5) translateY(-100%) rotateX(-45deg); }
  100% {
    transform: scale(1) translateY(0) rotateX(0); } }

@keyframes rb-fallRight {
  0% {
    transform: rotate(-50deg) translateY(-50%);
    opacity: 0; }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1; } }

@keyframes rb-fallLeft {
  0% {
    transform: rotate(50deg) translateY(-50%);
    opacity: 0; }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1; } }

@keyframes rb-growAndShow {
  0% {
    transform: scaleX(0.2); }
  100% {
    transform: scaleX(1); } }

@keyframes rb-blurIn {
  0% {
    filter: blur(100px); }
  100% {
    filter: blur(0); } }

@keyframes rb-appearFromLeft {
  0% {
    transform: translateX(-100vw) rotate(-90deg); }
  50% {
    transform: translateX(-50vw) rotate(-45deg); }
  100% {
    transform: translateX(0) rotate(0); } }

@keyframes rb-appearFromRight {
  0% {
    transform: translateX(100vh) rotate(90deg); }
  50% {
    transform: translateX(50vh) rotate(45deg); }
  100% {
    transform: translateX(0) rotate(0); } }

@keyframes rb-scaleUpAndFadeIn {
  0% {
    transform: scale(0.4);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes rb-scaleDownAndFadeIn {
  0% {
    transform: scale(1.4);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes rb-flipXAndShow {
  0% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0); } }

@keyframes rb-wobbleIn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes rb-scaleY {
  0% {
    transform: scaleY(0.01); }
  100% {
    transform: scaleY(1); } }

@keyframes rb-blurAndshake {
  0% {
    transform: translateX(5%);
    filter: blur(2px); }
  100% {
    transform: translateX(-5%);
    filter: blur(2px); } }

@keyframes rb-bounce {
  0% {
    transform: translateY(5%); }
  100% {
    transform: translateY(-5%); } }

@keyframes rb-pulse {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }

@keyframes rb-scaleUpAndFadeOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.8);
    opacity: 0; } }

@keyframes rb-scaleDownAndFadeOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.4);
    opacity: 0; } }

@keyframes rb-slideDown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-50%); }
  100% {
    transform: translateY(100vh); } }

@keyframes rb-slideUp {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(50%); }
  100% {
    transform: translateY(-100vh); } }

@keyframes rb-hingeFadeDown {
  100% {
    transform: rotateX(45deg);
    opacity: 0; } }

@keyframes rb-rotateAndFade {
  100% {
    transform: rotate(45deg);
    opacity: 0; } }

@keyframes rb-scaleYDown {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0.01);
    opacity: 0; } }

.rb-twistAndShow {
  animation: 600ms rb-twistAndShow ease-in-out; }

.rb-flipAndShowDown {
  animation: 400ms rb-flipAndShowDown cubic-bezier(0.7, 0.8, 0.6, 0.4); }

.rb-fallRight {
  transform-origin: 0% 50%;
  animation: 400ms rb-fallRight ease-in-out; }

.rb-fallLeft {
  transform-origin: 100% 50%;
  animation: 400ms rb-fallLeft ease-in-out; }

.rb-growAndShow {
  animation: 400ms rb-growAndShow ease; }

.rb-blurIn {
  animation: 600ms rb-blurIn cubic-bezier(0.6, 0.4, 0.3, 0.2); }

.rb-appearFromLeft {
  transform-origin: 0% 50%;
  animation: 300ms rb-appearFromLeft linear; }

.rb-appearFromRight {
  transform-origin: 100% 50%;
  animation: 300ms rb-appearFromRight linear; }

.rb-scaleUpAndFadeIn {
  animation: 500ms rb-scaleUpAndFadeIn ease; }

.rb-scaleDownAndFadeIn {
  animation: 500ms rb-scaleDownAndFadeIn ease; }

.rb-flipXAndShow {
  transform-style: preserve-3d;
  animation: 300ms rb-flipXAndShow linear; }

.rb-wobbleIn {
  animation: 600ms rb-wobbleIn ease-in-out; }

.rb-scaleY {
  animation: 200ms rb-scaleY ease-in-out; }

.rb-blurAndshake {
  animation: 100ms rb-blurAndshake linear 5 alternate; }

.rb-bounce {
  animation: 100ms rb-bounce linear 5 alternate; }

.rb-pulse {
  animation: 300ms rb-pulse ease infinite alternate; }

.rb-scaleUpAndFadeOut {
  animation: 500ms rb-scaleUpAndFadeOut ease forwards; }

.rb-scaleDownAndFadeOut {
  animation: 500ms rb-scaleDownAndFadeOut ease forwards; }

.rb-slideDown {
  animation: 500ms rb-slideDown linear forwards; }

.rb-slideUp {
  animation: 500ms rb-slideUp linear forwards; }

.rb-hingeFadeDown {
  animation: 250ms rb-hingeFadeDown cubic-bezier(0.5, 0.4, 0.3, 0.2) forwards;
  transform-origin: 50% 100%; }

.rb-rotateAndFade {
  transform-origin: 100% 50%;
  animation: 250ms rb-rotateAndFade cubic-bezier(0.8, 0.6, 0.5, 0.2) forwards; }

.rb-scaleYDown {
  animation: 250ms rb-scaleYDown ease-in-out forwards; }
