
* {
  box-sizing: border-box;
  font-family: Quicksand;

}

html, body, #app {
  height: 100%;
}

h1,h2 {
  margin: 0;
  padding: 8px 0;
}

.rebecca-wrap {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: #FFA4A4;
    font-weight: 300;
    font-size: 5em;

  }

  h2 {
    color: #847B7B;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 50px;
  }

  button {
    margin: 15px 0;
    background: #F9B1D6;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1.3em;
    padding: 10px 49px;
    border-radius: 50px;
    transition: 400ms all ease;
    box-shadow: 0 0 15px rgba(0,0,0,.2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(-10%);
      box-shadow: 0 -20px -15px transparentize(#000,.6);
    }

  }

  select {
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 2px transparentize(#000,.6);
    &:focus {
      outline: none;
    }
  }
}


