@-webkit-keyframes rb-twistAndShow {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(20deg) rotateX(30deg);
    transform: rotateY(20deg) rotateX(30deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) rotateX(0);
    transform: rotateY(0) rotateX(0); } }

@keyframes rb-twistAndShow {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(20deg) rotateX(30deg);
    transform: rotateY(20deg) rotateX(30deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) rotateX(0);
    transform: rotateY(0) rotateX(0); } }

@-webkit-keyframes rb-flipAndShowDown {
  0% {
    -webkit-transform: scale(0.5) translateY(-100%) rotateX(-45deg);
    transform: scale(0.5) translateY(-100%) rotateX(-45deg); }
  100% {
    -webkit-transform: scale(1) translateY(0) rotateX(0);
    transform: scale(1) translateY(0) rotateX(0); } }

@keyframes rb-flipAndShowDown {
  0% {
    -webkit-transform: scale(0.5) translateY(-100%) rotateX(-45deg);
    transform: scale(0.5) translateY(-100%) rotateX(-45deg); }
  100% {
    -webkit-transform: scale(1) translateY(0) rotateX(0);
    transform: scale(1) translateY(0) rotateX(0); } }

@-webkit-keyframes rb-fallRight {
  0% {
    -webkit-transform: rotate(-50deg) translateY(-50%);
    transform: rotate(-50deg) translateY(-50%);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) translateY(0);
    transform: rotate(0) translateY(0);
    opacity: 1; } }

@keyframes rb-fallRight {
  0% {
    -webkit-transform: rotate(-50deg) translateY(-50%);
    transform: rotate(-50deg) translateY(-50%);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) translateY(0);
    transform: rotate(0) translateY(0);
    opacity: 1; } }

@-webkit-keyframes rb-fallLeft {
  0% {
    -webkit-transform: rotate(50deg) translateY(-50%);
    transform: rotate(50deg) translateY(-50%);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) translateY(0);
    transform: rotate(0) translateY(0);
    opacity: 1; } }

@keyframes rb-fallLeft {
  0% {
    -webkit-transform: rotate(50deg) translateY(-50%);
    transform: rotate(50deg) translateY(-50%);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) translateY(0);
    transform: rotate(0) translateY(0);
    opacity: 1; } }

@-webkit-keyframes rb-growAndShow {
  0% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes rb-growAndShow {
  0% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@-webkit-keyframes rb-blurIn {
  0% {
    -webkit-filter: blur(100px);
    filter: blur(100px); }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0); } }

@keyframes rb-blurIn {
  0% {
    -webkit-filter: blur(100px);
    filter: blur(100px); }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0); } }

@-webkit-keyframes rb-appearFromLeft {
  0% {
    -webkit-transform: translateX(-100vh) rotate(-90deg);
    transform: translateX(-100vh) rotate(-90deg); }
  50% {
    -webkit-transform: translateX(-50vh) rotate(-45deg);
    transform: translateX(-50vh) rotate(-45deg); }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0); } }

@keyframes rb-appearFromLeft {
  0% {
    -webkit-transform: translateX(-100vh) rotate(-90deg);
    transform: translateX(-100vh) rotate(-90deg); }
  50% {
    -webkit-transform: translateX(-50vh) rotate(-45deg);
    transform: translateX(-50vh) rotate(-45deg); }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0); } }

@-webkit-keyframes rb-appearFromRight {
  0% {
    -webkit-transform: translateX(100vh) rotate(90deg);
    transform: translateX(100vh) rotate(90deg); }
  50% {
    -webkit-transform: translateX(50vh) rotate(45deg);
    transform: translateX(50vh) rotate(45deg); }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0); } }

@keyframes rb-appearFromRight {
  0% {
    -webkit-transform: translateX(100vh) rotate(90deg);
    transform: translateX(100vh) rotate(90deg); }
  50% {
    -webkit-transform: translateX(50vh) rotate(45deg);
    transform: translateX(50vh) rotate(45deg); }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0); } }

@-webkit-keyframes rb-scaleUpAndFadeIn {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes rb-scaleUpAndFadeIn {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes rb-scaleDownAndFadeIn {
  0% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes rb-scaleDownAndFadeIn {
  0% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes rb-scaleUpAndFadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0; } }

@keyframes rb-scaleUpAndFadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0; } }

@-webkit-keyframes rb-scaleDownAndFadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; } }

@keyframes rb-scaleDownAndFadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; } }

.rb-twistAndShow {
  -webkit-animation: 600ms rb-twistAndShow ease-in-out;
  animation: 600ms rb-twistAndShow ease-in-out; }

.rb-flipAndShowDown {
  -webkit-animation: 400ms rb-flipAndShowDown cubic-bezier(0.7, 0.8, 0.6, 0.4);
  animation: 400ms rb-flipAndShowDown cubic-bezier(0.7, 0.8, 0.6, 0.4); }

.rb-fallRight {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: 400ms rb-fallRight ease-in-out;
  animation: 400ms rb-fallRight ease-in-out; }

.rb-fallLeft {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: 400ms rb-fallLeft ease-in-out;
  animation: 400ms rb-fallLeft ease-in-out; }

.rb-growAndShow {
  -webkit-animation: 400ms rb-growAndShow ease;
  animation: 400ms rb-growAndShow ease; }

.rb-blurIn {
  -webkit-animation: 600ms rb-blurIn cubic-bezier(0.6, 0.4, 0.3, 0.2);
  animation: 600ms rb-blurIn cubic-bezier(0.6, 0.4, 0.3, 0.2); }

.rb-appearFromLeft {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: 300ms rb-appearFromLeft linear;
  animation: 300ms rb-appearFromLeft linear; }

.rb-appearFromRight {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: 300ms rb-appearFromRight linear;
  animation: 300ms rb-appearFromRight linear; }

.rb-scaleUpAndFadeIn {
  -webkit-animation: 500ms rb-scaleUpAndFadeIn ease;
  animation: 500ms rb-scaleUpAndFadeIn ease; }

.rb-scaleDownAndFadeIn {
  -webkit-animation: 500ms rb-scaleDownAndFadeIn ease;
  animation: 500ms rb-scaleDownAndFadeIn ease; }

.rb-scaleUpAndFadeOut {
  -webkit-animation: 500ms rb-scaleUpAndFadeOut ease forwards;
  animation: 500ms rb-scaleUpAndFadeOut ease forwards; }

.rb-scaleDownAndFadeOut {
  -webkit-animation: 500ms rb-scaleDownAndFadeOut ease forwards;
  animation: 500ms rb-scaleDownAndFadeOut ease forwards; }
